<div class="row">
    <div class="col-md-12" style="color:#1b809e">
        <center>
            <h3>Editar Fornecedor</h3>
        </center>
    </div>
</div>


<div class="container">
    <div class="row hbrBlueDegrade"  ng-dblclick="form1 = !form1">
        <label style="margin: 6px 12px;">Dados Pessoais do Fornecedor</label>
        <div class="pull-right btn" ng-click="form1 = !form1">
            <span ng-show="form1" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form1" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form1" ng-init="form1=true">
            <div class="form-group">
                <div class="col-md-6">
                    <hbr-Input-Search-Value hbr-uppercase ng-model='provider.legalName' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="Nome Legal / Razão Social" sub-title="Nome Legal / Razão Social"> </hbr-Input-Search-Value>
                </div>
                <div class="col-md-6">
                    <hbr-Input-Search-Value hbr-uppercase ng-model='provider.fantasyName' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="Nome Fantasia" sub-title="Nome Fantasia"> </hbr-Input-Search-Value>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <hbr-Input-Search-Value hbr-uppercase ng-model='provider.documentNumber' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="CPF/CNPJ" sub-title="CPF/CNPJ"> </hbr-Input-Search-Value>
                </div>
                <div class="col-md-4">
                    <hbr-Input-Search-Value hbr-uppercase ng-model='provider.stateRegistration' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="Inscrição Estadual" sub-title="Inscrição Estadual"> </hbr-Input-Search-Value>
                </div>
                <div class="col-md-4">
                    <hbr-Input-Search-Value hbr-uppercase ng-model='provider.cityRegistration' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="Inscrição Municial" sub-title="Inscrição Municial"> </hbr-Input-Search-Value>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <hbr-Input-Search-Value type="date" ng-model='foundationDateFormated' is-editable="!edit.isDisabledWaitingEdit"
                                            maintitle="Data de Fundação" sub-title="Data de Fundação"> </hbr-Input-Search-Value>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row hbrBlueDegrade"  ng-dblclick="form3 = !form3">
        <label style="margin: 6px 12px;">Endereço do Fornecedor</label>
        <div class="pull-right btn" ng-click="form3 = !form3">
            <span ng-show="form3" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form3" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form3" ng-init="form3=true">
            <div class="form-group">
                <div class="col-md-3">
                    <hbr-Input-Search-Value enable-search='!isDisabledSearchCep' ng-model='provider.address.cep' is-editable="!edit.isDisabledWaitingEdit"
                                            callback="populateAddressUsingCep" maintitle="CEP" sub-title="CEP"> </hbr-Input-Search-Value>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <hbr-Input-Search-Value ng-model='provider.address.street' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="logradouro" sub-title="logradouro"> </hbr-Input-Search-Value>
                </div>
                <div class="col-md-2">
                    <hbr-Input-Search-Value ng-model='provider.address.number' is-editable="!edit.isDisabledWaitingEdit" maxlength="20"
                                            maintitle="Número" sub-title="Número"> </hbr-Input-Search-Value>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <hbr-Input-Search-Value ng-model='provider.address.complement' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="Complemento" sub-title="Complemento"> </hbr-Input-Search-Value>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <hbr-Input-Search-Value ng-model='provider.address.neighborhood' is-editable="!edit.isDisabledWaitingEdit" maxlength="100"
                                            maintitle="Bairro" sub-title="Bairro"> </hbr-Input-Search-Value>
                </div>
                <div class="col-md-5">
                    <hbr-Input-Search-Value ng-model='provider.address.city' is-editable="!edit.isDisabledWaitingEdit" maxlength="100"
                                            maintitle="Cidade" sub-title="Cidade"> </hbr-Input-Search-Value>
                </div>
                <div class="col-md-2">
                    <hbr-Input-Search-Value ng-model='provider.address.state' is-editable="!edit.isDisabledWaitingEdit" maxlength="3"
                                            maintitle="Estado" sub-title="Estado"> </hbr-Input-Search-Value>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-repeat="contact in provider.contacts">
    <div class="row hbrBlueDegrade"  ng-dblclick="form2 = !form2">
        <label style="margin: 6px 12px;">Informação de Contato</label>
        <div class="pull-right btn" ng-click="form2 = !form2">
            <span ng-show="form2" class="glyphicon glyphicon-minus hbrBorder pull-right"></span>
            <span ng-show="!form2" class="glyphicon glyphicon-plus hbrBorder pull-right"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal hbrFormInput" ng-show="form2" ng-init="form2=true">
            <div class="form-group">
                <div class="col-md-8">
                    <hbr-Input-Search-Value hbr-uppercase ng-model='contact.name' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="Nome" sub-title="Nome"> </hbr-Input-Search-Value>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <hbr-Input-Search-Value ng-model='contact.phone' is-editable="!edit.isDisabledWaitingEdit" maxlength="30"
                                            maintitle="Telefone" sub-title="Telefone"> </hbr-Input-Search-Value>
                </div>
                <div class="col-md-4">
                    <hbr-Input-Search-Value ng-model='contact.phone2' is-editable="!edit.isDisabledWaitingEdit" maxlength="30"
                                            maintitle="Telefone" sub-title="Telefone"> </hbr-Input-Search-Value>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <hbr-Input-Search-Value hbr-uppercase ng-model='contact.email' is-editable="!edit.isDisabledWaitingEdit" maxlength="200"
                                            maintitle="E-mail" sub-title="endereco@email.com"> </hbr-Input-Search-Value>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon hbrInputsBlue"><span ng-show="!!contact.observation"><b>Observação</b></span></span>
                        <textarea class="form-control" maxlength="3999" ng-model="contact.observation" rows="4" placeholder="Observação (4000 caracter)" ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 pull-right">
                    <button type="submit" class="btn btn-danger btn-sm" ng-disabled="edit.isDisabledWaitingEdit" ng-click="removeContactInProvider($index)">Remover</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" ng-show="!edit.isDisabledWaitingEdit" style="padding: 8px 8px 8px;">
    <center>
        <button class="btn btn-info btn-lg" ng-click="createContactInProvider()">
            <span class="glyphicon glyphicon-user"></span> Adicionar Contato
        </button>
    </center>
</div>

